{% extends 'base.html.twig' %}
{% block body %}
<main style="min-height: calc(100vh - 116px - 56px - 246px);">
<form method="POST" action="/temp">
<div class="col d-flex justify-content-center text-center">
    <div class="form-outline mb-4">
    <br><br><br><br>
        <label class="form-label" for="confirmpassword"><h3>Confirm Old Password</h3></label>
        <br>
        <input type="password" id="confirmpassword" class="form-control" name="password"/>
        <br>
        <input class="btn text-light" style= "background-color: rgba(13,92,182,255);" type="submit" value="Confirm"/> 
        <a href="{{path('profile')}}"><button type="button" class="btn btn-outline-primary">Back to index</button></a>
    </div>
    </div>
</form>
</main>
{% endblock %}