{% extends 'base.html.twig' %}

{% block body %}

<div  class="container">
<h1>Update Order </h1>
<br>
<a href="{{path('app_order_management')}}"><button type="button" class="btn btn-outline-primary">Back to index</button></a>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}